{
  "swagger": "2.0",
  "info": {
    "title": "ShopBase Internal API",
    "termsOfService": "http://swagger.io/terms/",
    "version": "1.0.0",
    "contact": {
      "url": "/",
      "email": "support@shopbase.com"
    },
    "license": {
      "name": "ShopBase Dev 1.0",
      "url": "https://www.shopbase.net"
    },
    "x-logo": {
      "url": "https://admin-cdn.shopbase.com/img/Compact.ac400184.svg"
    }
  },
  "host": "shop-name.onshopbase.com",
  "paths": {
    "/admin/balance/charge.json": {
      "post": {
        "summary": "Capture charge balance.",
        "description": "Capture charge balance.",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/swagggerCaptureSuccessResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/swagggerCaptureFailureResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "input",
            "description": "Charge params",
            "in": "body",
            "required": true,
            "type": "object",
            "schema": {
              "$ref": "#/definitions/swagggerCaptureChargeParams",
              "description": "Charge params"
            }
          }
        ],
        "tags": [
          "Balance"
        ],
        "operationId": "charge-invoice",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "USER_ACCESS_TOKEN": []
          }
        ]
      }
    },
    "/admin/balance/refund.json": {
      "post": {
        "summary": "Refund balance.",
        "description": "Refund balance.",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SuccessResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/FailureResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "input",
            "description": "Refund params",
            "in": "body",
            "required": true,
            "type": "object",
            "schema": {
              "$ref": "#/definitions/RefundParamsDto",
              "description": "Refund params"
            }
          }
        ],
        "tags": [
          "Balance"
        ],
        "operationId": "refund-balance",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "USER_ACCESS_TOKEN": []
          }
        ]
      }
    },
    "/admin/checkouts.json": {
      "get": {
        "summary": "Retrieve a list of abandoned checkouts",
        "description": "Retrieve a list of abandoned checkouts",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AbandonedCheckoutsSwaggerResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "page",
            "description": "page query",
            "in": "query",
            "required": false,
            "type": "number"
          },
          {
            "name": "limit",
            "description": "limit query",
            "in": "query",
            "required": false,
            "type": "number"
          },
          {
            "name": "email_statuses",
            "description": "A comma-separated list of email statuses, supported values: scheduled,sent,not_sent",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "sms_statuses",
            "description": "A comma-separated list of sms statuses, supported values: scheduled,sent,not_sent,failed",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "recovery_statuses",
            "description": "A comma-separated list of recovery statuses, supported values: recovered,not_recovered",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "search",
            "description": "customer name, product, ...",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Abandoned Checkout"
        ],
        "operationId": "retrieves-a-list-of-checkouts",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "read_orders"
            ]
          }
        ]
      }
    },
    "/admin/checkouts/count.json": {
      "get": {
        "summary": "Retrieve count of abandoned checkouts",
        "description": "Retrieve count of abandoned checkouts",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CountResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "email_statuses",
            "description": "A comma-separated list of email statuses, supported values: scheduled,sent,not_sent",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "sms_statuses",
            "description": "A comma-separated list of sms statuses, supported values: scheduled,sent,not_sent,failed",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "recovery_statuses",
            "description": "A comma-separated list of recovery statuses, supported values: recovered,not_recovered",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "search",
            "description": "customer name, product, ...",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Abandoned Checkout"
        ],
        "operationId": "count-checkouts",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "read_orders"
            ]
          }
        ]
      }
    },
    "/admin/checkouts/twilio-webhook.json": {
      "post": {
        "summary": "Receive webhook from twilio",
        "description": "Receive webhook from twilio to update sms log, update abandoned checkout sms status, opt out sms conversation",
        "responses": null,
        "tags": [
          "Abandoned Checkout"
        ],
        "operationId": "receive-webhook-from-twilio",
        "produces": [
          "application/json"
        ]
      }
    },
    "/admin/checkouts/{checkout_id:\\\\d+}.json": {
      "get": {
        "summary": "Retrieve a single abandoned checkout",
        "description": "Retrieve a single abandoned checkout",
        "responses": null,
        "parameters": [
          {
            "name": "checkout_id",
            "description": "checkout id",
            "in": "path",
            "required": true,
            "type": "number"
          }
        ],
        "tags": [
          "Abandoned Checkout"
        ],
        "operationId": "retrieves-a-checkout",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "read_orders"
            ]
          }
        ]
      }
    },
    "/admin/checkouts/{checkout_id:\\\\d+}/cancel-send-recovery-email.json": {
      "post": {
        "summary": "Cancel scheduled email of an abandoned checkout",
        "description": "Cancel scheduled email of an abandoned checkout",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AbandonedCheckoutsUpdateSwaggerResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "checkout_id",
            "description": "checkout id",
            "in": "path",
            "required": true,
            "type": "number"
          }
        ],
        "tags": [
          "Abandoned Checkout"
        ],
        "operationId": "cancel-recovery-email",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "write_orders"
            ]
          }
        ]
      }
    },
    "/admin/checkouts/{checkout_id:\\\\d+}/cancel-send-recovery-sms.json": {
      "post": {
        "summary": "Cancel scheduled sms of an abandoned checkout",
        "description": "Cancel scheduled sms of an abandoned checkout",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AbandonedCheckoutsUpdateSwaggerResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "checkout_id",
            "description": "checkout id",
            "in": "path",
            "required": true,
            "type": "number"
          }
        ],
        "tags": [
          "Abandoned Checkout"
        ],
        "operationId": "cancel-recovery-sms",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "write_orders"
            ]
          }
        ]
      }
    },
    "/admin/checkouts/{checkout_id:\\\\d+}/send-recovery-email.json": {
      "post": {
        "summary": "Manually send abandoned checkout email",
        "description": "Manually send abandoned checkout email",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AbandonedCheckoutsUpdateSwaggerResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "checkout_id",
            "description": "checkout id",
            "in": "path",
            "required": true,
            "type": "number"
          }
        ],
        "tags": [
          "Abandoned Checkout"
        ],
        "operationId": "send-recovery-email",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "write_orders"
            ]
          }
        ]
      }
    },
    "/admin/checkouts/{checkout_id:\\\\d+}/send-recovery-email/get-review.json": {
      "get": {
        "summary": "Retrieve an abandoned checkout email notification with preview content",
        "description": "Retrieve an abandoned checkout email notification with preview content",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/NotificationWithSublingResponseDto"
            }
          }
        },
        "parameters": [
          {
            "name": "param",
            "description": "checkout id",
            "in": "path",
            "required": true,
            "type": "number"
          },
          {
            "name": "category",
            "description": "notification category, current supported value: orders",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "description": "notification type, current supported value: abandoned_checkout",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Abandoned Checkout"
        ],
        "operationId": "get-email-preview",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "read_orders"
            ]
          }
        ]
      }
    },
    "/admin/checkouts/{checkout_id:\\\\d+}/send-recovery-sms.json": {
      "post": {
        "summary": "Manually send abandoned checkout sms",
        "description": "Manually send abandoned checkout sms",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AbandonedCheckoutsUpdateSwaggerResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "checkout_id",
            "description": "checkout id",
            "in": "path",
            "required": true,
            "type": "number"
          }
        ],
        "tags": [
          "Abandoned Checkout"
        ],
        "operationId": "send-recovery-sms",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "write_orders"
            ]
          }
        ]
      }
    },
    "/admin/checkouts/{checkout_id:\\\\d+}/send-recovery-sms/get-review.json": {
      "get": {
        "summary": "Retrieve an abandoned checkout sms notification with preview content",
        "description": "Retrieve an abandoned checkout sms notification with preview content",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/NotificationWithSublingResponseDto"
            }
          }
        },
        "parameters": [
          {
            "name": "param",
            "description": "checkout id",
            "in": "path",
            "required": true,
            "type": "number"
          },
          {
            "name": "category",
            "description": "notification category, current supported value: orders",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "description": "notification type, current supported value: abandoned_checkout",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Abandoned Checkout"
        ],
        "operationId": "get-sms-preview",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "read_orders"
            ]
          }
        ]
      }
    },
    "/admin/checkouts/{checkout_id:\\\\d+}/timeline.json": {
      "get": {
        "summary": "Retrieve a list of timelines of an abandoned checkout",
        "description": "Retrieve a list of timelines of an abandoned checkout",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AbandonedCheckoutActivitiesSwaggerResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "param",
            "description": "checkout id",
            "in": "path",
            "required": true,
            "type": "number"
          }
        ],
        "tags": [
          "Abandoned Checkout"
        ],
        "operationId": "retrieves-a-list-of-checkout-timelines",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "read_orders"
            ]
          }
        ]
      }
    },
    "/admin/checkouts/{checkout_id:\\\\d+}/update-note.json": {
      "put": {
        "summary": "Update abandoned checkout note",
        "description": "Update abandoned checkout note",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AbandonedCheckoutsUpdateSwaggerResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "checkout_id",
            "description": "checkout id",
            "in": "path",
            "required": true,
            "type": "number"
          },
          {
            "name": "input",
            "description": "note update request body",
            "in": "body",
            "required": true,
            "type": "object",
            "schema": {
              "$ref": "#/definitions/AbandonedCheckoutsNoteUpdateSwaggerRequest",
              "description": "note update request body"
            }
          }
        ],
        "tags": [
          "Abandoned Checkout"
        ],
        "operationId": "update-checkout-note",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "read_orders"
            ]
          }
        ]
      }
    },
    "/admin/collections/custom.json": {
      "get": {
        "summary": "Retrieves a list of custom collections.",
        "description": "Retrieve all collections.",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CollectionListResponseSwagger"
            }
          }
        },
        "tags": [
          "Custom Collection"
        ],
        "operationId": "retrieve-a-list-of-custom-collections",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "read_products"
            ]
          }
        ]
      }
    },
    "/admin/collections/custom/count.json": {
      "get": {
        "summary": "Retrieves a count of custom collections.",
        "description": "Count all custom collections.",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CollectionCountResponseSwagger"
            }
          }
        },
        "tags": [
          "Custom Collection"
        ],
        "operationId": "retrieve-a-count-of-custom-collections",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "read_products"
            ]
          }
        ]
      }
    },
    "/admin/collections/custom/{custom_collection_id:\\\\d+}.json": {
      "get": {
        "summary": "Retrieves a single custom collection.",
        "description": "Retrieve a specific collection by its ID.",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CollectionByIdResponseSwagger"
            }
          }
        },
        "tags": [
          "Custom Collection"
        ],
        "operationId": "retrieve-a-single-custom-collections",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "read_products"
            ]
          }
        ]
      },
      "delete": {
        "summary": "Deletes a custom collection.",
        "description": "Delete a custom collection.",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DeleteCustomCollectionResponseSwagger"
            }
          }
        },
        "tags": [
          "Custom Collection"
        ],
        "operationId": "delete-a-custom-collection",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "write_products"
            ]
          }
        ]
      },
      "put": {
        "summary": "Create or update a collection",
        "description": "A collection is a grouping of products that merchants can create to make their stores easier to browse.\n\nFor example, a merchant might create a collection for a specific type of product that they sell, such as Footwear.\n\nMerchants can create collections by selecting products individually or by defining rules that automatically determine whether products are included.",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CollectionUpdateResponseSwagger"
            }
          }
        },
        "parameters": [
          {
            "name": "custom_collection_id",
            "description": "Custom collection ID",
            "in": "path",
            "required": true,
            "type": "integer"
          },
          {
            "name": "file",
            "description": "Collection update request struct",
            "in": "body",
            "required": true,
            "type": "object",
            "schema": {
              "$ref": "#/definitions/CollectionUpdateRequestSwagger",
              "description": "Collection update request struct"
            }
          }
        ],
        "tags": [
          "Custom Collection"
        ],
        "operationId": "update-custom-collection",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "write_products"
            ]
          }
        ]
      }
    },
    "/admin/collects.json": {
      "get": {
        "summary": "Retrieves a list of collects.",
        "description": "Retrieve all collects for the shop.",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CollectListResponseSwagger"
            }
          }
        },
        "parameters": [
          {
            "name": "collection_id",
            "description": "Filter list collect by collection",
            "in": "query",
            "required": false,
            "type": "integer"
          }
        ],
        "tags": [
          "Collect"
        ],
        "operationId": "retrieve-a-list-of-collect",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "read_products"
            ]
          }
        ]
      },
      "post": {
        "summary": "Adds a product to a custom collection.",
        "description": "Create a new link between an existing product and an existing collection.",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateCollectResponseSwagger"
            }
          }
        },
        "parameters": [
          {
            "name": "input",
            "description": "Collect request",
            "in": "body",
            "required": true,
            "type": "object",
            "schema": {
              "$ref": "#/definitions/CreateCollectRequestSwagger",
              "description": "Collect request"
            }
          }
        ],
        "tags": [
          "Collect"
        ],
        "operationId": "create-a-collect",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "write_products"
            ]
          }
        ]
      }
    },
    "/admin/collects/count.json": {
      "get": {
        "summary": "Retrieves a count of collects.",
        "description": "Retrieves a count of collects.",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CollectCountResponseSwagger"
            }
          }
        },
        "parameters": [
          {
            "name": "collection_id",
            "description": "Filter list collect by collection",
            "in": "query",
            "required": false,
            "type": "integer"
          }
        ],
        "tags": [
          "Collect"
        ],
        "operationId": "retrieve-a-count-of-collect",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "read_products"
            ]
          }
        ]
      }
    },
    "/admin/collects/{collect_id:\\\\d+}.json": {
      "get": {
        "summary": "Retrieves a specific collect by its ID.",
        "description": "Retrieve a collect with a certain ID.",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CollectByIdResponseSwagger"
            }
          }
        },
        "tags": [
          "Collect"
        ],
        "operationId": "retrieve-a-single-collect",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "read_products"
            ]
          }
        ]
      },
      "delete": {
        "summary": "Removes a product from a collection.",
        "description": "Delete the link between a product an a collection.",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DeleteCollectResponseSwagger"
            }
          }
        },
        "parameters": [
          {
            "name": "collect_id",
            "description": "Collect ID",
            "in": "path",
            "required": true,
            "type": "integer"
          }
        ],
        "tags": [
          "Collect"
        ],
        "operationId": "delete-a-collect",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "write_products"
            ]
          }
        ]
      }
    },
    "/admin/customers.json": {
      "get": {
        "summary": "Retrieves a list of customers.",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CustomerForResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "ids",
            "description": "Restrict results to customers specified by a comma-separated list of IDs.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "since_id",
            "description": "Restrict results to those after the specified ID.",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "name": "created_at_min",
            "description": "Show customers created after a specified date. format: 2014-04-25T16:15:47-04:00)",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "created_at_max",
            "description": "Show customers created before a specified date. format: 2014-04-25T16:15:47-04:00)",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "updated_at_min",
            "description": "Show customers last updated after a specified date. format: 2014-04-25T16:15:47-04:00)",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "updated_at_max",
            "description": "Show customers last updated before a specified date. format: 2014-04-25T16:15:47-04:00)",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "maximum": 250,
            "name": "limit",
            "description": "The maximum number of results to show.",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 50
          },
          {
            "name": "fields",
            "description": "Show only certain fields, specified by a comma-separated list of field names.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Customer"
        ],
        "operationId": "retrieves-a-list-of-customers",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "read_customers"
            ]
          }
        ]
      },
      "post": {
        "summary": "Creates a customer.",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CustomerSwaggerResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "input",
            "description": "Customer struct",
            "in": "body",
            "required": true,
            "type": "object",
            "schema": {
              "$ref": "#/definitions/CustomerDto",
              "description": "Customer struct"
            }
          }
        ],
        "tags": [
          "Customer"
        ],
        "operationId": "creates-a-customer",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "write_customers"
            ]
          }
        ]
      }
    },
    "/admin/customers/count.json": {
      "get": {
        "summary": "Retrieve a count of all customers",
        "description": "Retrieves a count of all customers.",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CountResponse"
            }
          }
        },
        "tags": [
          "Customer"
        ],
        "operationId": "retrieves-a-count-of-all-customers",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "read_customers"
            ]
          }
        ]
      }
    },
    "/admin/customers/{customer_id:[0-9]+}/addresses.json": {
      "get": {
        "summary": "Retrieve all of a customer’s addresses",
        "description": "Retrieves a list of addresses for a customer.",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CustomerAddressesDetailResponse"
            }
          }
        },
        "tags": [
          "Customer Address"
        ],
        "operationId": "get-customer-addresses-by-customer-id",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "read_customers"
            ]
          }
        ]
      },
      "post": {
        "summary": "Create a new address for a customer",
        "description": "Creates a new address for a customer.",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CustomerAddressDetailResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "input",
            "description": "Customer address post form",
            "in": "body",
            "required": true,
            "type": "object",
            "schema": {
              "$ref": "#/definitions/CustomerAddressCreateForm",
              "description": "Customer address post form"
            }
          }
        ],
        "tags": [
          "Customer Address"
        ],
        "operationId": "create-customer-address-for-customer",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "write_customers"
            ]
          }
        ]
      }
    },
    "/admin/customers/{customer_id:[0-9]+}/addresses/set.json": {
      "put": {
        "summary": "Destroy multiple customer addresses",
        "description": "Performs bulk operations for multiple customer addresses.",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.SwaggerDeleteResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "address_ids",
            "description": "List of customer address.",
            "in": "query",
            "required": false,
            "type": "array"
          }
        ],
        "tags": [
          "Customer Address"
        ],
        "operationId": "delete-bulk-customer-addresses-by-customer-ids",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "write_customers"
            ]
          }
        ]
      }
    },
    "/admin/customers/{customer_id:[0-9]+}/addresses/{address_id:[0-9]+}.json": {
      "get": {
        "summary": "Retrieve a single customer address",
        "description": "Retrieves details a single customer address.",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CustomerAddressResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "customer_id",
            "description": "Customer ID",
            "in": "path",
            "required": true,
            "type": "number"
          }
        ],
        "tags": [
          "Customer Address"
        ],
        "operationId": "get-customer-address-by-customer-id-and-address-id",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "read_customers"
            ]
          }
        ]
      },
      "delete": {
        "summary": "Remove a customer address",
        "description": "Removes an address from a customer’s address list.",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.SwaggerDeleteResponse"
            }
          }
        },
        "tags": [
          "Customer Address"
        ],
        "operationId": "delete-customer-address-by-customer-id-and-address-id",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "write_customers"
            ]
          }
        ]
      },
      "put": {
        "summary": "Update the postal code of a customer address",
        "description": "Updates an existing customer address.",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CustomerAddressResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "input",
            "description": "Customer address input form",
            "in": "body",
            "required": true,
            "type": "object",
            "schema": {
              "$ref": "#/definitions/updateCustomerAddressForm",
              "description": "Customer address input form"
            }
          }
        ],
        "tags": [
          "Customer Address"
        ],
        "operationId": "update-customer-address-for-customer",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "write_customers"
            ]
          }
        ]
      }
    },
    "/admin/customers/{customer_id:[0-9]+}/addresses/{address_id:[0-9]+}/default.json": {
      "put": {
        "summary": "Set a default address for a customer",
        "description": "Sets the default address for a customer.",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CustomerAddressResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "address_id",
            "description": "Address ID",
            "in": "path",
            "required": true,
            "type": "number"
          }
        ],
        "tags": [
          "Customer Address"
        ],
        "operationId": "set-default-customer-address-for-a-customer",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "write_customers"
            ]
          }
        ]
      }
    },
    "/admin/customers/{customer_id:[0-9]+}/send_invite.json": {
      "post": {
        "summary": "Sends an account invite to a customer.",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SendInvitationRequest"
            }
          }
        },
        "parameters": [
          {
            "name": "input",
            "description": "Sends an account invite to a customer.",
            "in": "body",
            "required": true,
            "type": "object",
            "schema": {
              "$ref": "#/definitions/SendInvitationRequest",
              "description": "Sends an account invite to a customer."
            }
          }
        ],
        "tags": [
          "Customer"
        ],
        "operationId": "send-invitation-email-to-customer",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "write_customers"
            ]
          }
        ]
      }
    },
    "/admin/customers/{id:\\\\d+}.json": {
      "get": {
        "summary": "Retrieves a single customer.",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CustomerDto"
            }
          }
        },
        "parameters": [
          {
            "name": "customer_id",
            "description": "Customer ID.",
            "in": "path",
            "required": true,
            "type": "integer"
          },
          {
            "name": "fields",
            "description": "Show only certain fields, specified by a comma-separated list of field names.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Customer"
        ],
        "operationId": "retrieves-a-single-customer",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "read_customers"
            ]
          }
        ]
      },
      "delete": {
        "summary": "Remove an existing customer",
        "description": "Deletes a customer. A customer can't be deleted if they have existing orders.",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.SwaggerDeleteResponse"
            }
          }
        },
        "tags": [
          "Customer"
        ],
        "operationId": "deletes-a-customer",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "write_customers"
            ]
          }
        ]
      },
      "put": {
        "summary": "Updates a customer.",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CustomerSwaggerResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "input",
            "description": "Customer struct",
            "in": "body",
            "required": true,
            "type": "object",
            "schema": {
              "$ref": "#/definitions/CustomerDto",
              "description": "Customer struct"
            }
          }
        ],
        "tags": [
          "Customer"
        ],
        "operationId": "updates-a-customer",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "write_customers"
            ]
          }
        ]
      }
    },
    "/admin/domains/connects.json": {
      "get": {
        "summary": "Get domain by shop id",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Res"
            }
          }
        },
        "tags": [
          "Domain"
        ],
        "operationId": "get-list-domain-of-the-shop-by-shop-id.",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": []
          }
        ]
      }
    },
    "/admin/draft_orders.json": {
      "get": {
        "summary": "Retrieves a list of draft orders",
        "description": "Retrieves a list of draft orders.",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DraftOrdersSwaggerResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "fields",
            "description": "A comma-separated list of fields to include in the response",
            "in": "path",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "description": "Amount of results (default: 50, maximum: 250)",
            "in": "path",
            "required": false,
            "type": "number"
          },
          {
            "name": "since_id",
            "description": "Restrict results to after the specified ID",
            "in": "path",
            "required": false,
            "type": "number"
          },
          {
            "name": "updated_at_min",
            "description": "Show orders last updated after date",
            "in": "path",
            "required": false,
            "type": "string"
          },
          {
            "name": "updated_at_max",
            "description": "Show orders last updated before date",
            "in": "path",
            "required": false,
            "type": "string"
          },
          {
            "name": "ids",
            "description": "Filter by list of IDs",
            "in": "path",
            "required": false,
            "type": "number"
          },
          {
            "name": "status",
            "description": "**open**: All open orders (default) \u003cbr\u003e **invoice_sent**: Show only closed orders \u003cbr\u003e **completed**: Show only cancelled orders",
            "in": "path",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "DraftOrder"
        ],
        "operationId": "retrieves-a-list-of-draft-orders",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": []
          }
        ]
      },
      "post": {
        "summary": "Creates a draft order.",
        "description": "Creates a draft order. Using the DraftOrder resource you can create orders in draft state using product variant line items, or custom line items. To create a product variant draft order, provide the `variant_id`, `quantity` and `discount` properties. To create a custom line item, provide the `title`, `price`, `taxable`, and `quantity` properties.\n\n\u003ccode\u003e \u003e If you are using this endpoint with a Partner development store or a trial store, then you can only create five draft orders per minute.\u003c/code\u003e\n\n### About custom shipping lines\n\nYou can use the DraftOrder resource to send orders with custom shipping lines. A custom shipping line includes a title and price with handle set to Nil. A shipping line with a carrier provided shipping rate (currently set via the ShopBase admin) includes the shipping rate handle.\n\n### Applying discounts\n\nA draft order and its line items can have one discount each. Calculations for discounts are based on the setting of the value_type property, which can be set to either fixed_amount or percentage. For example, you can apply a fixed amount discount to a draft order to reduce the price by the specified value property. When you use a percentage discount, the discount amount property is the price multiplied by the value property. For line item discounts, the value property is applied per individual unit of the item, based on the line item's quantity.\n\n**Calculating line item discount amounts**\n\nFor `fixed_amount` discounts, the total `amount` corresponds to the line item quantity times the value of the discount. For percentage discounts, the total amount corresponds to the following:\n\n`amount` = `floor(price * quantity * value) / 100, where floor()` is the usual round down function.\n\n\n\n\nFor non-fractional currencies, this formula needs to use round() instead of floor(), and the division by 100 takes place inside the rounding, resulting in a non-fractional value. Otherwise, an error is returned.\n\n`amount` = `round(price * quantity * value / 100)`\n\n\n\n\n**Line item examples**\n\n_Fixed amount discount_\n\nFor a $19.99 line item with quantity of 2 and with $5 dollars off, discount amount corresponds to $10 ($5 * 2):\n\n`applied_discount` : `{ \"value_type\": \"fixed_amount\", \"value\": 5, \"amount\": 10}`\n\n_Percentage discount_\n\nFor a $19.99 line item with quantity of 2 and with 15% off, discount amount corresponds to $5.99 (floor ($19.99 * 2 * 15) / 100):\n\n`applied_discount`: `{ \"value_type\": \"percentage\", \"value\": 15, \"amount\": 5.99 }`\n\n### Loading and removing customers\n\nYou can load a customer to a draft order by sending the `customer_id` as part of the draft order object. The recommended way to remove a customer from a draft order is to make a POST request with the Customer object set to null, without specifying an email, shipping address, or billing address. A customer may also be removed by setting `customer`, `email`, `shipping_address` and `billing_address` to `null`",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DraftOrderSwaggerResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "input",
            "description": "Order input request",
            "in": "body",
            "required": true,
            "type": "object",
            "schema": {
              "$ref": "#/definitions/OrderDto",
              "description": "Order input request"
            }
          }
        ],
        "tags": [
          "DraftOrder"
        ],
        "operationId": "create-a-draft-order",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": []
          }
        ]
      }
    },
    "/admin/draft_orders/{draft_order_id:(?:\\\\d+)}.json": {
      "get": {
        "summary": "Retrieves a specific draft order",
        "description": "Retrieves a specific draft order.",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SingleDraftOrderSwaggerResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "fields",
            "description": "A comma-separated list of fields to include in the response",
            "in": "path",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "DraftOrder"
        ],
        "operationId": "receive-a-single-draftorder",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": []
          }
        ]
      },
      "delete": {
        "summary": "Deletes a draft order",
        "description": "Deletes a draft order",
        "responses": {
          "200": {
            "description": "",
            "schema": null
          }
        },
        "tags": [
          "DraftOrder"
        ],
        "operationId": "deletes-a-draft-order",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": []
          }
        ]
      },
      "put": {
        "summary": "Updates a draft order",
        "description": "Updates a draft order",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DraftOrderSwaggerResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "input",
            "description": "Order input request",
            "in": "body",
            "required": true,
            "type": "object",
            "schema": {
              "$ref": "#/definitions/OrderRequest",
              "description": "Order input request"
            }
          }
        ],
        "tags": [
          "DraftOrder"
        ],
        "operationId": "update-a-draft-order",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": []
          }
        ]
      }
    },
    "/admin/fulfillment_services.json": {
      "get": {
        "summary": "Receive a list of all FulfillmentServices",
        "description": "List your app's fulfillment services",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FulfillmentServicesListSwaggerResponse"
            }
          }
        },
        "tags": [
          "FulfillmentService"
        ],
        "operationId": "receive-a-list-of-all-fulfillmentservices",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "read_fulfillments"
            ]
          }
        ]
      },
      "post": {
        "summary": "Create a fulfillment service",
        "description": "Create a fulfillment service",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SingleFulfillmentServiceSwaggerResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "input",
            "description": "Request input",
            "in": "body",
            "required": true,
            "type": "object",
            "schema": {
              "$ref": "#/definitions/SingleFulfillmentServiceSwaggerResponse",
              "description": "Request input"
            }
          }
        ],
        "tags": [
          "FulfillmentService"
        ],
        "operationId": "create-a-new-fulfillmentservices",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "write_fulfillments"
            ]
          }
        ]
      }
    },
    "/admin/fulfillment_services/{id:\\\\d+}.json": {
      "get": {
        "summary": "Receive a single FulfillmentServices",
        "description": "Receive a single FulfillmentServices",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SingleFulfillmentServiceSwaggerResponse"
            }
          }
        },
        "tags": [
          "FulfillmentService"
        ],
        "operationId": "receive-a-single-fulfillmentservices",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "read_fulfillments"
            ]
          }
        ]
      },
      "delete": {
        "summary": "Remove a FulfillmentService from the database",
        "description": "Remove a FulfillmentService from the database",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/gitlab.SwaggerDeleteResponse"
            }
          }
        },
        "tags": [
          "FulfillmentService"
        ],
        "operationId": "remove-a-fulfillmentservice-from-the-database",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "write_fulfillments"
            ]
          }
        ]
      },
      "put": {
        "summary": "Modify an existing FulfillmentService",
        "description": "Modify an existing FulfillmentService",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SingleFulfillmentServiceSwaggerResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "input",
            "description": "input request",
            "in": "body",
            "required": true,
            "type": "object",
            "schema": {
              "$ref": "#/definitions/SingleFulfillmentServiceSwaggerResponse",
              "description": "input request"
            }
          }
        ],
        "tags": [
          "FulfillmentService"
        ],
        "operationId": "modify-an-existing-fulfillmentservice",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "write_fulfillments"
            ]
          }
        ]
      }
    },
    "/admin/metafields.json": {
      "get": {
        "summary": "Retrieves meta fields belong to an resource with options.",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/APIResponseMetafieldsDto"
            }
          }
        },
        "parameters": [
          {
            "name": "limit",
            "description": "Return up to this many results per page. (default: 50, maximum: 250).",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "name": "since_id",
            "description": "Restrict results to after the specified ID.",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "name": "created_at_min",
            "description": "Show metafields created after date. (format: 2014-04-25T16:15:47-04:00)",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "created_at_max",
            "description": "Show metafields created before date. (format: 2014-04-25T16:15:47-04:00)",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "updated_at_min",
            "description": "Show metafields last updated after date. (format: 2014-04-25T16:15:47-04:00)",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "updated_at_max",
            "description": "Show metafields last updated before date. (format: 2014-04-25T16:15:47-04:00)",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "fields",
            "description": "Show only certain fields, specified by a comma-separated list of field names.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "namespace",
            "description": "Retrieves metafields with given namespace.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "key",
            "description": "Retrieves metafields with given key.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "value_type",
            "description": "Show only metafields with given value types. Valid values: string, integer, json_string",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Metafield"
        ],
        "operationId": "retrieves-meta-fields",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": []
          }
        ]
      },
      "post": {
        "summary": "Creates new metafield.",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/APIResponseMetafieldDto"
            }
          }
        },
        "parameters": [
          {
            "name": "file",
            "description": "Metafield struct",
            "in": "body",
            "required": true,
            "type": "object",
            "schema": {
              "$ref": "#/definitions/APIRequestMetafield",
              "description": "Metafield struct"
            }
          }
        ],
        "tags": [
          "Metafield"
        ],
        "operationId": "create-meta-field",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": []
          }
        ]
      }
    },
    "/admin/metafields/count.json": {
      "get": {
        "summary": "Retrieves count meta fields belong to an resource with options.",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/APIResponseCountDto"
            }
          }
        },
        "parameters": [
          {
            "name": "limit",
            "description": "Return up to this many results per page. (default: 50, maximum: 250).",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "name": "since_id",
            "description": "Restrict results to after the specified ID.",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "name": "created_at_min",
            "description": "Show metafields created after date. (format: 2014-04-25T16:15:47-04:00)",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "created_at_max",
            "description": "Show metafields created before date. (format: 2014-04-25T16:15:47-04:00)",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "updated_at_min",
            "description": "Show metafields last updated after date. (format: 2014-04-25T16:15:47-04:00)",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "updated_at_max",
            "description": "Show metafields last updated before date. (format: 2014-04-25T16:15:47-04:00)",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "namespace",
            "description": "Counts metafields with given namespace.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "key",
            "description": "Counts metafields with given key.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "value_type",
            "description": "Counts only metafields with given value types. Valid values: string, integer, json_string",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Metafield"
        ],
        "operationId": "counts-meta-fields",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": []
          }
        ]
      }
    },
    "/admin/metafields/{metafield_id:[0-9]+}.json": {
      "get": {
        "summary": "Retrieves a single metafield by id.",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/APIResponseMetafieldDto"
            }
          }
        },
        "parameters": [
          {
            "name": "metafield_id",
            "description": "Metafield id.",
            "in": "path",
            "required": true,
            "type": "integer"
          }
        ],
        "tags": [
          "Metafield"
        ],
        "operationId": "retrieves-specific-meta-field",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": []
          }
        ]
      },
      "delete": {
        "summary": "Deletes a metafield.",
        "responses": {
          "200": {
            "description": "",
            "schema": null
          }
        },
        "parameters": [
          {
            "name": "metafield_id",
            "description": "Metafield id",
            "in": "path",
            "required": true,
            "type": "integer"
          }
        ],
        "tags": [
          "Metafield"
        ],
        "operationId": "delete-meta-field",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": []
          }
        ]
      },
      "put": {
        "summary": "Updates new metafield.",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/APIResponseMetafieldDto"
            }
          }
        },
        "parameters": [
          {
            "name": "file",
            "description": "Metafield request",
            "in": "body",
            "required": true,
            "type": "object",
            "schema": {
              "$ref": "#/definitions/APIRequestMetafield",
              "description": "Metafield request"
            }
          },
          {
            "name": "product_id",
            "description": "Product ID",
            "in": "path",
            "required": true,
            "type": "integer"
          },
          {
            "name": "metafield_id",
            "description": "Metafield ID",
            "in": "path",
            "required": true,
            "type": "integer"
          }
        ],
        "tags": [
          "Metafield"
        ],
        "operationId": "update-meta-field",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": []
          }
        ]
      }
    },
    "/admin/orders.json": {
      "get": {
        "summary": "Retrieves a list of orders",
        "description": "Retrieve all orders",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OrdersSwaggerResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "input",
            "description": "Orders request",
            "in": "body",
            "required": true,
            "type": "object",
            "schema": {
              "$ref": "#/definitions/OrdersSwaggerRequest",
              "description": "Orders request"
            }
          }
        ],
        "tags": [
          "Order"
        ],
        "operationId": "retrieves-a-list-of-orders",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "read_orders"
            ]
          }
        ]
      },
      "post": {
        "summary": "Creates an order",
        "description": "Creates an order",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OrderSwaggerResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "input",
            "description": "Order DTO",
            "in": "body",
            "required": true,
            "type": "object",
            "schema": {
              "$ref": "#/definitions/OrderDto",
              "description": "Order DTO"
            }
          }
        ],
        "tags": [
          "Order"
        ],
        "operationId": "creates-an-order",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "write_orders"
            ]
          }
        ]
      }
    },
    "/admin/orders/count.json": {
      "get": {
        "summary": "Retrieves an order count",
        "description": "Retrieves an order count",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CountResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "input",
            "description": "Order request",
            "in": "body",
            "required": true,
            "type": "object",
            "schema": {
              "$ref": "#/definitions/OrdersSwaggerRequest",
              "description": "Order request"
            }
          }
        ],
        "tags": [
          "Order"
        ],
        "operationId": "retrieves-an-order-count",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "read_orders"
            ]
          }
        ]
      }
    },
    "/admin/orders/{order_id:(?:\\\\d+)}.json": {
      "get": {
        "summary": "Retrieve a single order",
        "description": "Retrieves a specific order",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OrderSwaggerResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "input",
            "description": "Order Request",
            "in": "body",
            "required": true,
            "type": "object",
            "schema": {
              "$ref": "#/definitions/OrderRequest",
              "description": "Order Request"
            }
          }
        ],
        "tags": [
          "Order"
        ],
        "operationId": "retrieves-a-specific-order",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "read_orders"
            ]
          }
        ]
      },
      "delete": {
        "summary": "Deletes an order",
        "description": "Deletes an order",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.SwaggerDeleteResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "order_id",
            "description": "Order ID",
            "in": "path",
            "required": false,
            "type": "number"
          }
        ],
        "tags": [
          "Order"
        ],
        "operationId": "deletes-an-order",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "write_orders"
            ]
          }
        ]
      },
      "put": {
        "summary": "Updates an order",
        "description": "Updates an order",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OrderSwaggerResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "order_id",
            "description": "Order ID",
            "in": "path",
            "required": true,
            "type": "integer"
          },
          {
            "name": "input",
            "description": "Order Request",
            "in": "body",
            "required": true,
            "type": "object",
            "schema": {
              "$ref": "#/definitions/OrderRequest",
              "description": "Order Request"
            }
          }
        ],
        "tags": [
          "Order"
        ],
        "operationId": "updates-an-order",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "write_orders"
            ]
          }
        ]
      }
    },
    "/admin/orders/{order_id:(?:\\\\d+)}/transactions.json": {
      "get": {
        "summary": "Retrieves a list of transactions.",
        "description": "Transactions attached to multi-currency orders are in the presentment currency by default. To retrieve transactions in the shop currency, include the URL parameter in_shop_currency=true.",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OrderTransactionsSwaggerResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "since_id",
            "description": "Retrieve only transactions after the specified ID.",
            "in": "query",
            "required": false,
            "type": "number"
          },
          {
            "name": "fields",
            "description": "Show only certain fields, specifed by a comma-separated list of fields names.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "in_shop_currency",
            "description": "Show amounts in the shop currency.",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "Transaction"
        ],
        "operationId": "retrieves-a-list-of-transactions",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "read_orders"
            ]
          }
        ]
      },
      "post": {
        "summary": "Creates a transaction for an order.",
        "description": "Creates a transaction for an order.",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SingleOrderTransactionSwaggerResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "input",
            "description": "Request input",
            "in": "body",
            "required": false,
            "type": "object",
            "schema": {
              "$ref": "#/definitions/TransactionDto",
              "description": "Request input"
            }
          }
        ],
        "tags": [
          "Transaction"
        ],
        "operationId": "creates-a-transaction-for-an-order",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "write_orders"
            ]
          }
        ]
      }
    },
    "/admin/orders/{order_id:(?:\\\\d+)}/transactions/count.json": {
      "get": {
        "summary": "Retrieves a count of an order's transactions.",
        "description": "Count an order's transactions",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CountResponse"
            }
          }
        },
        "tags": [
          "Transaction"
        ],
        "operationId": "retrieves-a-count-of-an-order's-transactions",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "read_orders"
            ]
          }
        ]
      }
    },
    "/admin/orders/{order_id:(?:\\\\d+)}/transactions/{transaction_id:(?:\\\\d+)}.json": {
      "get": {
        "summary": "Retrieves a specific transaction.",
        "description": "Retrieve a specific transaction for an order. Transactions attached to multi-currency orders are in the presentment currency by default. To retrieve transactions in the shop currency, include the URL parameter in_shop_currency=true.",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OrderTransactionSwaggerResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "fields",
            "description": "Show only certain fields, specifed by a comma-separated list of fields names.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "in_shop_currency",
            "description": "Show amounts in the shop currency.",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "Transaction"
        ],
        "operationId": "retrieves-a-specific-transaction",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "read_orders"
            ]
          }
        ]
      }
    },
    "/admin/orders/{order_id:[0-9]+}/adjust.json": {
      "put": {
        "summary": "Adjust quantity or add new custom line item to order.",
        "description": "Adjust quantity or add new custom line item to order",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OrderSwaggerResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "input",
            "description": "Order Adjust Request",
            "in": "body",
            "required": true,
            "type": "object",
            "schema": {
              "$ref": "#/definitions/AdjustOrderDto",
              "description": "Order Adjust Request"
            }
          }
        ],
        "tags": [
          "Order"
        ],
        "operationId": "adjust-order",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "write_orders"
            ]
          }
        ]
      }
    },
    "/admin/orders/{order_id:[0-9]+}/cancel.json": {
      "post": {
        "summary": "Cancel an order",
        "description": "Cancel and refund a specific order",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OrderSwaggerResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "order_id",
            "description": "Order ID",
            "in": "path",
            "required": true,
            "type": "integer"
          },
          {
            "name": "input",
            "description": "Using an `empty object` to fully cancel and refund an order. To cancel and refund a specific amount of money, use `amount` property. The `refund` property is used to cancel and refund a specific amount of each line items.",
            "in": "body",
            "required": true,
            "type": "object",
            "schema": {
              "$ref": "#/definitions/cancelOrderData",
              "description": "Using an `empty object` to fully cancel and refund an order. To cancel and refund a specific amount of money, use `amount` property. The `refund` property is used to cancel and refund a specific amount of each line items."
            }
          }
        ],
        "tags": [
          "Order"
        ],
        "operationId": "cancel-specific-order",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "write_orders"
            ]
          }
        ]
      }
    },
    "/admin/orders/{order_id:[0-9]+}/fulfillments.json": {
      "get": {
        "summary": "Retrieves fulfillments associated with an order",
        "description": "Retrieves fulfillments associated with an order",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FulfillmentsSwaggerResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "limit",
            "description": "Limit the amount of results. (default: 50, maximum: 250)",
            "in": "query",
            "required": false,
            "type": "number"
          },
          {
            "name": "since_id",
            "description": "Restrict results to after the specified ID.",
            "in": "query",
            "required": false,
            "type": "number"
          },
          {
            "name": "updated_at_max",
            "description": "Show fulfillments last updated before date (format: 2019-04-25T16:15:47-04:00).",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "updated_at_min",
            "description": "Show fulfillments last updated after date (format: 2019-04-25T16:15:47-04:00).",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Fulfillment"
        ],
        "operationId": "retrieves-fulfillments-associated-with-an-order",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "read_orders"
            ]
          }
        ]
      },
      "post": {
        "summary": "Create a fulfillment.",
        "description": "Create a fulfillment for the specified order and line items.\n\nThe fulfillment's status depends on the line items in the order:\n\n* If the line items in the fulfillment use a manual or custom fulfillment service, then the status of the returned fulfillment will be set immediately.\n\n* If the line items use an external fulfillment service, then they will be queued for fulfillment and the status will be set to pending until the external fulfillment service has been invoked.\n\nA fulfillment might then transition to **open**, which implies it is being processed by the service, before transitioning to **success** when the items have shipped. If you don't specify line item IDs, then all unfulfilled and partially fulfilled line items for the order will be fulfilled. However, if an order is refunded or if any of its individual line items are refunded, then the order can't be fulfilled.",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FulfillmentDto"
            }
          }
        },
        "parameters": [
          {
            "name": "order_id",
            "description": "Order ID",
            "in": "path",
            "required": true,
            "type": "integer"
          },
          {
            "name": "input",
            "description": "Request input",
            "in": "body",
            "required": true,
            "type": "object",
            "schema": {
              "$ref": "#/definitions/FulfillRequestWrapperSwagger",
              "description": "Request input"
            }
          }
        ],
        "tags": [
          "Fulfillment"
        ],
        "operationId": "create-fulfillment",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "write_orders"
            ]
          }
        ]
      }
    },
    "/admin/orders/{order_id:[0-9]+}/fulfillments/count.json": {
      "get": {
        "summary": "Retrieves a count of fulfillments associated with a specific order",
        "description": "Count the total number of fulfillments for an order",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CountFulfillmentsSwaggerResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "created_at_min",
            "description": "Count fulfillments created after date (format: 2019-04-25T16:15:47-04:00).",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "created_at_max",
            "description": "Count fulfillments created before date (format: 2019-04-25T16:15:47-04:00).",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "updated_at_min",
            "description": "Count fulfillments last updated after date (format: 2019-04-25T16:15:47-04:00).",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "updated_at_max",
            "description": "Count fulfillments last updated before date (format: 2019-04-25T16:15:47-04:00).",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Fulfillment"
        ],
        "operationId": "retrieves-a-count-of-fulfillments-associated-with-a-specific-order",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "read_orders"
            ]
          }
        ]
      }
    },
    "/admin/orders/{order_id:[0-9]+}/fulfillments/{fulfillment_id:[0-9]+}.json": {
      "get": {
        "summary": "Retrieve a specific fulfillment",
        "description": "Retrieve a specific fulfillment. \n (fields: Comma-separated list of fields to include in the response.)",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FulfillmentsSwaggerResponse"
            }
          }
        },
        "tags": [
          "Fulfillment"
        ],
        "operationId": "retrieves-fulfillment",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "read_orders"
            ]
          }
        ]
      },
      "put": {
        "summary": "Update a fulfillment",
        "description": "Update information associated with a fulfillment",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FulfillmentSwaggerResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "order_id",
            "description": "Order ID",
            "in": "path",
            "required": true,
            "type": "integer"
          },
          {
            "name": "fulfillment_id",
            "description": "Fulfillment ID",
            "in": "path",
            "required": true,
            "type": "integer"
          },
          {
            "name": "input",
            "description": "Request input",
            "in": "body",
            "required": true,
            "type": "object",
            "schema": {
              "$ref": "#/definitions/updateFulfillmentRequest",
              "description": "Request input"
            }
          }
        ],
        "tags": [
          "Fulfillment"
        ],
        "operationId": "update-fulfillment",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "write_orders"
            ]
          }
        ]
      }
    },
    "/admin/orders/{order_id:[0-9]+}/fulfillments/{fulfillment_id:[0-9]+}/cancel.json": {
      "post": {
        "summary": "Cancel a fulfillment",
        "description": "Cancel a fulfillment",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FulfillmentSwaggerResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "order_id",
            "description": "Order ID",
            "in": "path",
            "required": true,
            "type": "integer"
          },
          {
            "name": "fulfillment_id",
            "description": "Fulfillment ID",
            "in": "path",
            "required": true,
            "type": "integer"
          }
        ],
        "tags": [
          "Fulfillment"
        ],
        "operationId": "cancel-a-fulfillment",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "write_orders"
            ]
          }
        ]
      }
    },
    "/admin/orders/{order_id:[0-9]+}/fulfillments/{fulfillment_id:[0-9]+}/complete.json": {
      "post": {
        "summary": "Complete a fulfillment",
        "description": "Complete a fulfillment",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FulfillmentSwaggerResponse"
            }
          }
        },
        "tags": [
          "Fulfillment"
        ],
        "operationId": "complete-a-fulfillment",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "write_orders"
            ]
          }
        ]
      }
    },
    "/admin/orders/{order_id:[0-9]+}/fulfillments/{fulfillment_id:[0-9]+}/open.json": {
      "post": {
        "summary": "Mark a fulfillment as open",
        "description": "Transition a fulfillment from pending to open",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FulfillmentSwaggerResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "input",
            "description": "Request input",
            "in": "body",
            "required": true,
            "type": "object",
            "schema": {
              "$ref": "#/definitions/FulfillmentSwaggerInput",
              "description": "Request input"
            }
          }
        ],
        "tags": [
          "Fulfillment"
        ],
        "operationId": "mark-a-fulfillment-as-open",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "write_orders"
            ]
          }
        ]
      }
    },
    "/admin/orders/{order_id:[0-9]+}/open.json": {
      "post": {
        "summary": "Open-Close a closed order",
        "description": "Open-Close a closed order",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OrderSwaggerResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "order_id",
            "description": "Order ID",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Order"
        ],
        "operationId": "open-specific-order",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "write_orders"
            ]
          }
        ]
      }
    },
    "/admin/orders/{order_id:[0-9]+}/refunds.json": {
      "get": {
        "summary": "Retrieves a list of refunds for an order.",
        "description": "Retrieve all refunds from a specific order",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RetrievesListRefundsSwaggerResponse"
            }
          }
        },
        "tags": [
          "Refund"
        ],
        "operationId": "retrieves-a-list-of-refunds-for-an-order",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "read_orders"
            ]
          }
        ]
      },
      "post": {
        "summary": "Creates a refund",
        "description": "Creates a refund. Use the calculate endpoint to produce the transactions to submit.",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RefundSwaggerResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "input",
            "description": "When you use this endpoint with a Partner development store or a trial store, you can create only five refunds per minute.",
            "in": "body",
            "required": true,
            "type": "object",
            "schema": {
              "$ref": "#/definitions/createRefundRequestBody",
              "description": "When you use this endpoint with a Partner development store or a trial store, you can create only five refunds per minute."
            }
          }
        ],
        "tags": [
          "Refund"
        ],
        "operationId": "create-the-refund",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "write_orders"
            ]
          }
        ]
      }
    },
    "/admin/orders/{order_id:[0-9]+}/refunds/calculate.json": {
      "post": {
        "summary": "Calculate the refund",
        "description": "Calculate the refund.",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CalculateRefundSwaggerResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "input",
            "description": "Calculates refund transactions based on line items and shipping. When you want to create a refund, you should first use the calculate endpoint to generate accurate refund transactions. Specify the line items that are being refunded, their quantity and restock instructions, and whether you intend to refund shipping costs. If the restock instructions can't be met—for example, because you try to return more items than have been fulfilled—then the endpoint returns modified restock instructions. You can then use the response in the body of the request to create the actual refund. The response includes a transactions object with ",
            "in": "body",
            "required": true,
            "type": "object",
            "schema": {
              "$ref": "#/definitions/CalculateRequestBody",
              "description": "Calculates refund transactions based on line items and shipping. When you want to create a refund, you should first use the calculate endpoint to generate accurate refund transactions. Specify the line items that are being refunded, their quantity and restock instructions, and whether you intend to refund shipping costs. If the restock instructions can't be met—for example, because you try to return more items than have been fulfilled—then the endpoint returns modified restock instructions. You can then use the response in the body of the request to create the actual refund. The response includes a transactions object with "
            }
          }
        ],
        "tags": [
          "Refund"
        ],
        "operationId": "calculate-the-refund",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "read_orders"
            ]
          }
        ]
      }
    },
    "/admin/orders/{order_id:[0-9]+}/refunds/{refund_id:[0-9]+}.json": {
      "get": {
        "summary": "Retrieve a specific refund",
        "description": "Retrieve a specific refund",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RetrievesRefundsSwaggerResponse"
            }
          }
        },
        "tags": [
          "Refund"
        ],
        "operationId": "retrieve-a-specific-refund",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "read_orders"
            ]
          }
        ]
      }
    },
    "/admin/pages.json": {
      "get": {
        "summary": "Retrieve a list of all pages",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListPagesSwaggerResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "limit",
            "description": "The maximum number of results to show.",
            "in": "query",
            "required": false,
            "type": "number"
          },
          {
            "name": "since_id",
            "description": "Restrict results to after the specified ID.",
            "in": "query",
            "required": false,
            "type": "number"
          },
          {
            "name": "title",
            "description": "Retrieve pages with a given title.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "handle",
            "description": "Retrieve a page with a given handle.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "created_at_min",
            "description": "Show pages created after date (format: 2008-12-31).",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "created_at_max",
            "description": "Show pages created before date (format: 2008-12-31).",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "updated_at_min",
            "description": "Show pages last updated after date (format: 2008-12-31).",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "updated_at_max",
            "description": "Show pages last updated before date (format: 2008-12-31).",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "updated_at_max",
            "description": "Show pages last updated before date (format: 2008-12-31).",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "published_at_min",
            "description": "Show pages published after date (format: 2014-04-25T16:15:47-04:00).",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "fields",
            "description": "Show only certain fields, specified by a comma-separated list of field names.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "published_status",
            "description": "Restrict results to pages with a given published status: \u003cbr\u003e * published:  Show only published pages. \u003cbr\u003e * unpublished: Show only unpublished pages. \u003cbr\u003e * any: Show published and unpublished pages.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Page"
        ],
        "operationId": "retrieves-a-list-pages-of-a-shop-id",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "read_content"
            ]
          }
        ]
      },
      "post": {
        "summary": "Creates a page",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SinglePageSwaggerResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "input",
            "description": "input request",
            "in": "body",
            "required": true,
            "type": "object",
            "schema": {
              "$ref": "#/definitions/SinglePageSwaggerResponse",
              "description": "input request"
            }
          }
        ],
        "tags": [
          "Page"
        ],
        "operationId": "create-a-page",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "APP_ACCESS_TOKEN": [
              "write_content"
            ]
          }
        ]
      }
    },
    "/admin/pages/plus-base.json": {
      "get": {
        "summary": "Retrieve a list of all pages",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListPagesSwaggerResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "limit",
            "description": "The maximum number of results to show.",
            "in": "query",
            "required": false,
            "type": "number"
          },
          {
            "name": "since_id",
            "description": "Restrict results to after the specified ID.",
            "in": "query",
            "required": false,
            "type": "number"
          },
          {
            "name": "title",
            "description": "Retrieve pages with a given title.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "handle",
            "description": "Retrieve a page with a given handle.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "created_at_min",
            "description": "Show pages created after date (format: 2008-12-31).",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "created_at_max",
            "description": "Show pages created before date (format: 2008-12-31).",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "updated_at_min",
            "description": "Show pages last updated after date (format: 2008-12-31).",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "updated_at_max",
            "description": "Show pages last updated before date (format: 2008-12-31).",
            "in": "query",
[...]
